<footer class="footer">
  <div class="footer__container container-base">
    <div class="footer__body">
      <div class="footer__location">
        <h2 class="footer__location-title">GET IN TOUCH</h2>
        <div class="footer__location-list">
          <div class="footer__location-item">
            <h3 class="footer__location-item-title">PHILADELPHIA OFFICE HQ</h3>
            <div class="footer__location-item-info">
              <a href="#" class="footer__location-address">67 Buck Road, Huntingdon Valley, PA 19006</a>
              <a href="#" class="footer__location-phone">(215)-396-3311</a>
            </div>
          </div>
          <div class="footer__location-item">
            <h3 class="footer__location-item-title">PHILADELPHIA OFFICE HQ</h3>
            <div class="footer__location-item-info">
              <a href="#" class="footer__location-address">67 Buck Road, Huntingdon Valley, PA 19006</a>
              <a href="#" class="footer__location-phone">(215)-396-3311</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__content">
      <p>Copyright © Million Dollar HVACR. Website by <a href="">Media Components</a>. <a href="">Privacy Policy</a></p>
    </div>
  </div>
</footer>
