@use "../helpers" as *;

.bh {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  &__typed {
    padding-top: rem(20);
    font-size: fluid(26, 40);
    font-weight: bold;
    white-space: nowrap;
    display: inline;
    & + .typed-cursor {
      font-size: fluid(26, 40);
      color: var(--color-accent);
    }
  }
}

.top-bh {
  background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%);
  padding: fluid(30, 100) 0 fluid(70, 143) 0;

  &__container {
    max-width: rem(1500);
    margin: 0 auto;
    padding: 0 rem(20);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: rem(50);
    @include large {
      flex-direction: column;
      row-gap: rem(30);
      align-items: stretch;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    row-gap: rem(12);
    flex: 0 1 rem(520);
    color: #fff;
    @include large {
      flex: 0 1 auto;
    }
    p {
      line-height: 1.7;
      color: var(--color-light);
    }
     h1 {
      margin-bottom: 0;
     }
  }
  &__form {
    flex: 0 1 rem(609);
    border-radius: 8px;
    overflow: hidden;
    @include large {
      flex: 0 1 100%;
    }
  }
  &__form-header {
    background-color: var(--color-accent);
    position: relative;
    height: rem(70);
    display: flex;
    align-items: center;
    padding: 0 rem(40);
    @include small {
      padding: 0 rem(20);
    }
    h2 {
      font-size: fluid(20, 35);
      color: #fff;
      position: relative;
      z-index: 2;
      margin-bottom: 0;
    }
    img {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  &__form-body {
    padding: fluid(20, 40);
    padding-bottom: rem(20);
    background-color: #fff;
  }
}

.bottom-bh {
  padding-bottom: rem(40);
  &__container {
    max-width: rem(1500);
    margin: 0 auto;
    padding: 0 rem(20);
    display: flex;
    @include large {
      flex-direction: column;
      row-gap: rem(30);
      align-items: center;
    }
  }
  &__content {
    flex: 0 1 rem(715);
    color: #fff;
    @include large {
      flex: 0 1 auto;
    }
    h2 {
      font-size: fluid(35, 50);
      line-height: 1.15;
      margin-bottom: rem(26);
    }
    p {
      line-height: 1.7;
    }
  }
}
