@use "../helpers" as *;

.blog {
  &__container {
    display: grid;
    grid-template-columns: 1fr 35%;
    column-gap: fluid(20, 70);
    @include medium {
      grid-template-columns: 1fr;
      row-gap: rem(20);
    }
  }
  &__main {
    padding-top: fluid(30, 100);
    padding-bottom: fluid(30, 60);
  }
  &__post {
    &:not(:last-child) {
      margin-bottom: fluid(70, 90);
    }
  }
  &__sidebar {
    background-color: var(--color-light);
    padding-inline: fluid(20, 50);
    padding-top: fluid(40, 100);
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 300%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: var(--color-light);
      z-index: -1;
      @include medium {
        display: none;
      }
    }
    @include medium {
      padding: rem(30);
    }
  }
  &__search {
    margin-bottom: rem(35);
  }
  &__search-form {
    background-color: var(--color-white);
    border: rem(1) solid var(--color-light-gray);
    border-radius: rem(40);
    padding: rem(14) rem(40);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: border-color 0.3s ease;
    column-gap: rem(20);
    &:focus-within {
      border-color: var(--color-accent);
    }
  }
  &__search-input {
    outline: none;
    width: 100%;
  }
  &__search-button {
    margin: -16px;
    padding: 16px;
  }
  &__sidebar-section {
    margin-bottom: fluid(30, 40);
  }
  &__sidebar-title {
    font-size: rem(20);
    margin-bottom: fluid(16, 20);
  }
  &__sidebar-item {
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }
  &__sidebar-link {
    transition: color 0.3s ease;
    @include hover {
      color: var(--color-accent);
    }
  }
  &__single-tags {
    margin-bottom: fluid(30, 40);
  }
  &__single-tags-title {
    margin-bottom: 0;
    font-size: rem(18);
    display: inline;
  }
  &__single-tags-list {
    display: inline;
    a {
      transition: color 0.3s ease;
      color: var(--color-light-gray);
      text-decoration: underline;
      @include hover {
        color: var(--color-accent);
      }
    }
  }
  &__single-share {
    border-radius: rem(12);
    border: rem(1) solid var(--color-light-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: rem(12);
    padding: rem(10) rem(15);
    margin-bottom: fluid(30, 40);
  }
  &__single-share-title {
    color: var(--color-light-light-gray);
  }
  &__single-share-list {
    display: flex;
    column-gap: rem(5);
    align-items: center;
    a {
      color: var(--color-light-gray);
      @include hover {
        color: var(--color-accent);
      }
      svg {
        transition: all 0.3s ease;
        width: rem(26);
        height: rem(26);
      }
    }
  }
  &__related-title {
    font-size: fluid(24, 26);
    margin-bottom: rem(20);
  }
  &__related-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(200), 1fr));
    gap: rem(20);
  }
  &__related-article {
    padding: rem(14);
    background-color: var(--color-white);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  &__related-article-link {
    display: flex;
    flex-direction: column;
    row-gap: rem(16);
    @include hover {
      h3 {
        color: var(--color-accent);
      }
    }
  }
  &__related-article-image {
    width: 100%;
    height: rem(210);
    object-fit: cover;
    object-position: center;
  }
  &__related-article-title {
    transition: color 0.3s ease;
    font-size: fluid(20, 22);
    margin-bottom: 0;
  }
}

.post-article {
  --post-child-gap: #{rem(30)};
  @include small {
    --post-child-gap: #{rem(18)};
  }
  &__link {
    display: block;
    margin-bottom: rem(30);
  }
  &__image {
  }
  &__title {
    line-height: 1;
    margin-bottom: 0;
    margin-bottom: rem(10);
    a {
      transition: all 0.3s ease;
      font-size: fluid(24, 30);
      @include hover {
        color: var(--color-accent);
      }
    }
  }
  &__info {
    margin-bottom: var(--post-child-gap);
    color: var(--color-light-gray);
    font-size: rem(16);
  }
  &__excerpt {
    margin-bottom: var(--post-child-gap);
    font-size: rem(16);
  }
  &__button {
    line-height: 1.2;
    font-size: rem(16);
    text-transform: uppercase;
    font-weight: 400;
  }
}
