@use "../helpers" as *;

.experts {
  padding: fluid(40, 100) 0;
  background-color: #020b2c;
  &__container {
    max-width: rem(1220);
    margin: 0 auto;
    padding: 0 rem(20);
  }
  &__header {
    color: #fff;
    text-align: center;
    max-width: rem(1065);
    margin: 0 auto;
    margin-bottom: rem(43);
  }
  &__title {
    margin-bottom: rem(16);
  }
  &__text {
    font-size: fluid(16, 18);
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: rem(26);
    justify-content: center;
    @include small {
      gap: rem(15);
    }
  
  }
}
.item-expert {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.16);
  border-radius: 8px;
  padding: rem(21) rem(30);
  color: #fff;
  @include above-medium {
    width: calc(50% - 20px);
  }
  @include above-small {
    width: calc(33.333% - 20px);
  }
  &__header {
    display: flex;
    column-gap: rem(16);
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem(16);
  }
  &__title {
    font-size: fluid(18, 20);
    margin-bottom: 0;
  }
  &__icon {
  }
  &__text {
    font-size: 1rem;
    line-height: 1.6;
  }
}
