@use "../helpers" as *;

.services-columns {
  padding: fluid(40, 90) 0;
}

.services-columns__container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 15px;
}
.services-columns__title {
  margin-bottom: 40px;
}
.services-columns__list {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 20px;
}
.services-columns-item,
.services-columns__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.services-columns-item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 400px;
  flex: 0 0 400px;
  -ms-flex-direction: column;
  flex-direction: column;
}
.services-columns-item__header {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ec1721;
  -webkit-column-gap: 28px;
  -moz-column-gap: 28px;
  column-gap: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 95px;
  padding: 10px 22px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.services-columns-item__title {
  color: #fff;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0;
  font-size: fluid(21, 23);
}
.services-columns-item__text {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  background-color: #fff;
  color: #555;
  flex-grow: 1;
  font-size: calc(14.90244px + 0.29268vw);
  padding: 17px 27px 40px 30px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border: 1px solid red;
}

@media (max-width: 768px) {
  .services-columns-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
  }
}

.services-columns-item__link {
  text-decoration: none !important;
}
.services-columns-item__text p {
  font-size: inherit;
  color: inherit;
}

@media (max-width: 640px) {
  .services-columns-item__image {
    height: 40px;
    width: 40px;
  }
}
