@use "../helpers" as *;

.services-columns {
  background-color: var(--color-light);
  padding: fluid(40, 90) 0;
}

.services-columns__title {
  margin-bottom: rem(40);
}
.services-columns__list {
  align-items: stretch;
  column-gap: rem(15);
  flex-wrap: wrap;
  justify-content: center;
  row-gap: rem(20);
}
.services-columns-item,
.services-columns__list {
  display: flex;
}
.services-columns-item {
  flex: 0 0 rem(394);
  flex-direction: column;
  @include small {
    flex: 0 1 auto;
  }
}
.services-columns-item__header {
  align-items: center;
  background-color: #ec1721;
  column-gap: rem(28);
  display: flex;
  min-height: rem(95);
  padding: rem(10) rem(22);
  border-top-left-radius: rem(12);
  border-top-right-radius: rem(12);
}
.services-columns-item__title {
  color: #fff;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0;
  font-size: fluid(22, 25);
}
.services-columns-item__text {
  color: #555;
  flex-grow: 1;
  padding: rem(17) rem(27) rem(40) rem(30);
  border-bottom-left-radius: rem(12);
  border-bottom-right-radius: rem(12);
  border: rem(1) solid red;
  font-size: fluid(17, 19);
}

.services-columns-item__link {
  text-decoration: none !important;
}
.services-columns-item__text p {
  font-size: inherit;
  color: inherit;
}

.services-columns-item__image {
  height: rem(50);
  width: rem(50);
  @include x-small {
    height: rem(40);
    width: rem(40);
  }
}
