@use "../helpers" as *;

.simple-hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: fluid(40, 110) 0;
  &__container {
    max-width: rem(1200);
  }
  &__content {
    color: var(--color-white) !important;
    h1 {
      margin-bottom: 0;
    }
  }
}

