@use "helpers" as *;

html {
  scroll-behavior: smooth;
  &.is-lock {
    overflow: hidden;
    height: 100vh !important;
  }
}

body {
  font-family: var(--font-family-base);
  font-size: fluid(16, 18);
  &.is-lock {
    overflow: hidden;
    height: 100vh !important;
  }
}

.wrapper {
  overflow: hidden;
  position: relative;
}

main {
  overflow: hidden;
  
}

h1, .h1, //
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: fluid(20, 30);
}

h1,
.h1 {
  font-size: fluid(36, 50);
}

h2,
.h2 {
  font-size: fluid(32, 40);
}

h3,
.h3 {
  font-size: fluid(28, 35);
}

.container-base {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--container-padding-x);
}
