@use "helpers" as *;

:root {
  --color-light: #f2f6f9;
  --color-white: #fff;
  --color-accent: #f62e1c;
  --color-black: #000;
  --color-dark: #333333;
  --color-dark-blue: #020b2c;

  --font-family-base: "Archivo", sans-serif;
  --font-family-accent: "Roboto", sans-serif;

  --container-width: #{rem(1480)};
  --container-padding-x: #{rem(20)};
}
